{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


        <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-6">
                <h2 class="mb-4">Enregistrement</h2>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                    {{ form_row(registrationForm.nom) }}
                    </div>
                    <div class="mb-3">
                    {{ form_row(registrationForm.prenom) }}
                    </div>
                    <div class="mb-3">
                    {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    </div>

                    <button type="submit" class="btn btn-primary">S'enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
{% endblock %}
