
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home_page') }}">SuperBowl</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home_page') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_rencontre') }}">Matches</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          <a class="nav-link" id="cmdMyProfile" href="{{ path('app_compte_utilisateur') }}">Mon espace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cmdLogout" href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" id="cmdLogin" href="{{ path('app_login') }}">Se connecter</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
